<h1>New well</h1>

<% form_for(@well) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :field_id %><br />
    
    <%= f.collection_select(:field_id, @fields, :id, :name) %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', wells_path %>
