<h1>Enter data for <%= @well.name %> on <%= @data_point.date %> </h1>
<% if @data_point_already_exists %>
	<% puts "I'm talking to you from the template" %>
	<% puts @data_point_already_exists.id %>
	<p> This data point has already been created. <%= link_to "click here", :action => 'show', :id => @data_point_already_exists.id %> to view</p>

<% else %>


<% form_for(@data_point) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.hidden_field :date %>
  </p>
  <p>
    <%= f.label :oil_amt %><br />
    <%= f.text_field :oil_amt %>
  </p>
  <p>
    <%= f.label :gas_amt %><br />
    <%= f.text_field :gas_amt %>
  </p>
  <p>
    <%= f.hidden_field :well_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', :controller => 'wells', :action => 'view_data', :id => @well.id%>

<% end %>
