<p>
  <b>Date:</b>
  <%=h @data_point.date %>
</p>

<p>
  <b>Oil amt:</b>
  <%=h @data_point.oil_amt %>
</p>

<p>
  <b>Gas amt:</b>
  <%=h @data_point.gas_amt %>
</p>

<p>
  <b>Well:</b>
  <%=h @well.name %>
</p>


<%= link_to 'Edit', edit_data_point_path(@data_point) %> |
<%= link_to 'Back', :controller => 'wells', :action => 'view_data', :id => @data_point.well_id %>
